.header {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header__col {
    display: flex;
    align-items: center;
    min-width: 428px;
    justify-content: space-between;
}

.header__col_align_right {
    justify-content: flex-end;
}