.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__display {
    margin-right: 25px;
}

.paginator__display_bg_white{
    color: #000;
    font-size: 16px;
}

.paginator__link_bg_white {
    color: #000000;
}

.paginator__item {
    text-align: center;
}

.paginator__item_active .paginator__link {
    background-color: #fff;
    color: #d21d16;
}

.paginator__link {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: 700;
    line-height: 32px;
    transition: .3s;
}

.paginator__link:hover {
    background-color: #fff;
    color: #d21d16;
}

.paginator__link_bg_white:hover {
    background-color: #f5170e;
    color: #fff;
}

main.services .paginator__item_active {
    background-color: #f5170e;
    color: #fff;
}

.reviews-main .paginator__item_active {
    background-color: #f5170e;
    color: #fff;
}