.social {
    display: flex;
}

.social__item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social__item_icon-telegram .social__link {
    background: url("./../../images/icons/sprites.png") -224px -214px;
    transition: 0.3s;
    opacity: 0.4;
}

.social__item_icon-telegram .social__link:hover {
    opacity: 1;
}

.social__item_icon-vk .social__link {
    background: url("./../../images/icons/sprites.png") -280px -270px;
    transition: 0.3s;
    opacity: 0.4;
}

.social__item_icon-vk .social__link:hover {
    opacity: 1;
}

.social__item_icon-fb .social__link {
    background: url("./../../images/icons/sprites.png") -112px -102px;
    transition: 0.3s;
    opacity: 0.4;
}

.social__item_icon-fb .social__link:hover {
    opacity: 1;
}

.social__item_icon-insta .social__link {
    background: url("./../../images/icons/sprites.png") -168px -158px;
    transition: 0.3s;
    opacity: 0.4;
}

.social__item_icon-insta .social__link:hover {
    opacity: 1;
}